* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
    position: relative;
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
}

.slider {
	margin: auto;
}

.side-imgs{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

.img-side{
    filter: brightness(0.5);
    height: 111px;
}

.controls {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	inset: 0;
	z-index: 10;
}

.btn-up, .btn-down {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	background-color: white;
}

.btn-up:hover, .btn-down:hover {
	background-color: black;
    color: white;
	cursor: pointer;
}

.slider-img {
	position: absolute;
	inset: 0;
	display: none;
	width: 75%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.focused{
    border: 3px solid lightskyblue;
    filter: brightness(1);
}

.active {
	display: block;
}
